html, body {
  height: 100%;
}

.page-header { 
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  height: 68px;
  min-height: 68px;
  background-color: lightgrey;
}

.page-header-inner {
  background-color: darkblue;
  float: left;
  display: block;
  width: 195px;
  height: 68px;
}

nav .header-nav-group {
  padding-top: 12px;
}

nav .header-nav-link {
  display: inline;
  margin-right: 80px;
}

sidebar.page-sidebar {
    width: 195px;
    height: 100%;
    float: left;
    position: relative;
    background-color: lightblue;
}

.sidebar-link-group {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 40%;
}

.sidebar-link {
  list-style: none;
  margin: 20px 0;
}
